doctype html
html(lang="en")
  head
    link(rel='stylesheet' property='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet' property='stylesheet' type='text/css' href='/css/style.min.css')
    title= title
  body
    include ../modules/nav
    block content
